{% extends "index.html" %}
{% block content %}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include "header.html" %}
    <main class="mdl-layout__content">
        <div class="wrapper">
            {% if login_session['username'] %}
                You are logged in as: {{login_session['username']}}

                <button onclick="gLogout()">
                    Log out
                </button>
                <script>
                    function gLogout() {
                        $.ajax({
                            type: 'GET',
                            url: "/gdisconnect",
                            processData: false,
                            contentType: 'application/octet-stream; charset=utf-8',
                            success: function(result) {
                            // Handle or verify the server response if necessary.
                                if (result) {
                                    window.location.href = "/logout"
                                } else {
                                    alert('Failed to make a server-side call. Check your configuration and console.');
                                }
                            }

                        });
                    }
                </script>

            {% else %}
            <button >
                Log out
            </button>
            <h4> Log in with Google. </h4>
            <div id="signinButton">
                <span class="g-signin"
                      data-scope="openid email"
                      data-clientid="1022032515578-9848s50jirqoji24n6t9rppp0m3rp4d6.apps.googleusercontent.com"
                      data-redirecturi="postmessage"
                      data-accesstype="offline"
                      data-cookiepolicy="single_host_origin"
                      data-callback="signInCallback"
                      data-approvalprompt="force">
                </span>
            </div>
            <div id="result"></div>
            <script>
                function signInCallback(authResult) {
                    if (authResult['code']) {
                        // Hide the sign-in button now that the user is authorized
                        $('#signinButton').attr('style', 'display: none');
                        // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                        $.ajax({
                            type: 'POST',
                            url: "/gconnect?state={{login_session['state']}}",
                            processData: false,
                            data: authResult['code'],
                            contentType: 'application/octet-stream; charset=utf-8',
                            success: function(result) {
                            // Handle or verify the server response if necessary.
                                if (result) {
                                    $('#result').html('Login Successful!</br>'+ result);
                                    $('a.login-button').replaceWith(`
                                        <a href="/logout"
                                        class="mdl-layout__tab is-active mdl-button-effect mdl-js-button mdl-js-ripple-effect login-button">
                                        <div class="flex-row-center">
                                        <span>Logout </span>
                                        <i class="material-icons">person</i>
                                        </div>
                                        </a>
                                    `)

                                } else if (authResult['error']) {
                                    console.log('There was an error: ' + authResult['error']);
                                } else {
                                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                                }
                            }

                        }); } }
            </script>
            {% endif %}

        </div>
        {% include "footer.html" %}
    </main>
</div>
<script>
    // function f(e, id) {
    //     console.log(e);
    //     console.log(id);
    // }
</script>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}