{% extends "index.html" %}
{% block content %}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include "header.html" %}
    <main class="mdl-layout__content">
        {% include "flash-messages.html"%}
        <div class="mdl-layout__tab-panel is-active" id="categories">
            <section class="section--center mdl-grid mdl-grid--no-spacing">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
                    <div class="flex-between">
                        <div class="header-actions_btn--title">
                            <h4>{{category.name}}</h4>
                        </div>
                        {% if login_session['username'] %}
                        <div class="header-actions_btns">
                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
                                    onclick="location.href = '/category/{{category.id}}/item/new'">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                        {% endif %}

                    </div>

                    <hr/>
                    <ul class="mdl-list mdl-list-custom">
                        {% if 'username' not in login_session %}
                        <h5>Login to start creating items!</h5>
                        {% endif %}
                        {% for item in items %}
                        <li class="mdl-list__item">
                            <a href="{{url_for('show_item', item_id=item.id, category_id=category.id)}}"
                               style="width: 100%">
                                <span class="mdl-list__item-primary-content">
                                    {{item.name}}
                                </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
        {% include "footer.html" %}
    </main>
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}