{% extends "index.html" %}
{% block content %}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include "header.html" %}
    <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="about">
            <section class="section--center mdl-grid mdl-grid--no-spacing">
                <article class="my-article">
                    <h3>What is this?</h3>
                    <p>
                        It's an web application that provides a list of items within a variety of categories
                        as well as provides an user authentication system.
                    </p>
                    <p>
                        Users can be authenticated with Google Accounts assegured by OAuth2 protocol and then
                        will have the ability to post, edit and delete their own items.
                    </p>
                    <p>
                        To illustrate some error handling, some funcionalities were defined as:
                        <ul>
                            <li>
                                When editing an item, an user can see the button and submit the form
                                about editing operation. But if the user is not the item owner then
                                will be redirected to a "not allowed" page and receives a message
                                telling what happened.
                            </li>
                            <li>
                                When deleting an item, the same as described above gonna happen.
                            </li>
                            <li>
                                Sneaky operations like log off and go back to the previous page
                                won't be supported since the user is not authenticated, redirecting
                                the user to the appropriated page.
                            </li>
                        </ul>
                    </p>


                </article>
            </section>
        </div>
    </main>
    {% include "footer.html" %}
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}