<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

        {% set message = messages[0] %}
        <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
        <script>
            r(function(){
                var notification = document.querySelector('.mdl-js-snackbar');
                notification.MaterialSnackbar.showSnackbar(
                    {
                        message: '{{message}}',
                        timeout: 60000
                    }
                );
            });
            function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
        </script>
        <script>
            setTimeout( () => {
                document.querySelector('.flash').className = 'display-none';
            }, 3000);
        </script>
    {% endif %}
    {% endwith %}
</div>