<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
        <div >
            <h1 class="mdl-mega-footer--heading display-inline">The Catalog App, 2019</h1>
            by <span style="font-style: italic">reismatheus97 </span>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="https://github.com/reismatheus97/catalog-app"
                       target="_blank"
                       rel="noopener noreferrer"
                >GitHub</a></li>
                <li><a href="https://www.udacity.com/"
                       target="_blank"
                       rel="noopener noreferrer">Udacity</a></li>
            </ul>
        </div>
    </div>
</footer>